@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;500;700;900&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    border:0;
    font-family: 'Raleway', sans-serif;
}

:root{
    --color-scheme:pink;
}
#root{
    position: absolute;
    height:100vh;
    width:100vw;
    background:var(--color-scheme);
    display: flex;
    justify-content: center;
}

#quote-box{
    position: absolute;
    height:285px;
    width: 548px;
    background:white;
    top:220px;
    padding:40px;
}

#text{
    position: absolute;
    top:40px;
    height:115px;
    width:438px;
    text-align: center;
    font-size: 28px;
    font-weight: 500;
    text-indent: 20px;
}
#text i{
    line-height: 28px;
    height:32px;
    width:32px;
    font-weight: 900;
    font-size: 32px;
    margin-right: 10px;
}
#author{
    position: absolute;
    top:160px;
    right: 50px;
}

.buttons{
    position: absolute;
    top:200px;
    width: 460px;
    height: 2.5rem;
}
#new-quote, #quote-tweet{
    position: absolute;
    background:var(--color-scheme);
    color:white;
    border-radius: 4px;
    font-size: 1.2rem;
}

#new-quote{
    right: 0;
    height: 100%;
    width:110px;
    background:var(--color-scheme);
    font-size: 0.9rem;
}
#quote-tweet{
    height:2.5rem;
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 10px;
}
